
{% extends "layout.njk" %}


{% block content %}
        <div id= "wrapper" >
            <img src="https://pbs.twimg.com/profile_images/1271517147349626881/Mf1UjRa0_400x400.jpg" alt="Logo RocketSeat">
            <h1>RocketSeat</h1>
            <h2>Ensinando alunos a Codar!</h2>
            <p>Imagine você dominando as mesmas tecnologias adotadas pelos melhores times do mundo, construindo aplicações de alta performance e se destacando entre os maiores programadores.</p>
        </div>

        <div id="links-footer" class= "links" >
            <a href="https://github.com/JoyceQuerubino" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/joyce-querubino/"  target="_blank">Linkedin</a>
            <a href="/"  target="_blank">Facebook</a>
            
        </div>
{% endblock %}