
{% extends "layout.njk" %}

    {% block head %}

    <title>Rocketseat - aulas</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% endblock %}

    {% block content %}

        <div id= "wrapper" >
            <h1>Aulas</h1>
        </div>

        <!-- #### CARDS ####-->
        <section class="cards">
            
            {% for item in items %}
            <div class="card" id="{{item.id}}">
                <div class="card_image_container">
                    <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt=" Imagem de {{item.title}}">
                </div>
                <div class="card_content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card_info">
                    <p>{{item.duration}}</p>
                    <p class="card_price">{{item.price}}</p>
                </div>
            </div>
            {%endfor%}
            
        </section>

        <div class="modal-overlay">
                <div class="modal">
                    <a class="close-modal">
                        <i class="material-icons">close</i>
                    </a>
                    <!-- Para colocar o vídeo-->
                    <div class="modal-content">
                        <iframe src="" frameborder="0"></iframe>
                    </div>
    
                </div>
        </div>

        <script src="scripts.js"></script>

    {% endblock %}       